#img_MRBarnaby {
   border:5px solid rgb(219, 116, 55, 1) !important;
   border-radius: 150px;
}

#name_MrB{
	color: #379EDB
}
#name_MrB{
	font-weight: bold; !important;
	align-content: center; !important;
	font-size: 1.5rem;
}
#text_MrB{
  font-size: 1.25rem;
  text-align: justify !important;
  color: #6E3A1B;
}

.backtext {
  background-color: rgb(219, 116, 55,0.25);
  background-size: cover;
  border-radius: 5px;
  padding-left: 10px;
  margin-left: -10px;
  padding-right: 15px;
  margin-right: 15px;
}
